@{
    ViewData["Title"] = "Inclusions and Exclusions";
}
<style>
    .dark-line {
        border-top: 2px solid #2f2f2f; /* Darker shade of black/gray */
        margin: 20px 0; /* Optional: Adds space around the line */
    }
</style>

<h1>Inclusions and Exclusions</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Inclusions</h2>
        <div class="dark-line"></div>
        <ul>
            <li><strong>Accommodation</strong>: Stay is included from Day 0 night to Day 12. You will be staying in tea houses on all days of the trek.</li>
            <li><strong>Trek Equipment</strong>: All the necessities like tents and all provided are included in trek fee.</li>
            <li><strong>All Trek permits & guide Charges</strong>: All trek permits and 2 guides per group are included in the trek fee.</li>
            <li><strong>Safety Equipment & Food</strong>: The team carries an extensive high-altitude medical kit, including supplemental oxygen for emergencies & also food. Use of this is included in your trek fee.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Exclusions</h2>
        <div class="dark-line"></div>
        <ul>
            <li><strong>To Trek Location & From Location</strong>: You will have to reach and return from trek location on your own</li>
            <li><strong>Water on the Trek or Transit</strong>: You will have access to drinking water at the tea houses where you stay. However, if you are buying drinking water, then the charges are extra. This is not included in your trek fee</li>
            <li><strong>Phone Charging at Tea houses</strong>: Tea houses allow you the use electric charging points at an additional cost.</li>
            <li><strong>Food on the Trek or Transit</strong>: You will have food 3 meals a day. However. if you are buying food, then the charges are extra</li>
        </ul>
    </div>
</div>