@model TMDemo.Models.TrekDetailsViewModel
<div class="mt-4 bg-white p-4 rounded-lg shadow">
    <p class="font-bold">@Model. Pokala</p>
    <p class="mt-2 text-gray-700">I had a great experience and had a lot of fun. And I like the facilities they provide and their service is great.</p>
</div>