@model TrekDetailsViewModel

<div class="mt-4 pb-4">
    <div class="available-dates">
        <label class="block text-black font-bold mt-3 fs-5 fst-normal" for="dates">Available Dates</label>
        <select class="w-full mt-2 p-2 border border-gray-300 rounded d-block" id="dates">
            @foreach (var monthGroup in Model.AvailabilityDates)
            {
                <optgroup label="@monthGroup.Month">
                    @foreach (var date in monthGroup.Dates)
                    {
                        <option class="font-bold text-black">
                            @date.StartDate.ToString("dd MMM") - @date.EndDate.ToString("dd MMM")
                        </option>
                    }
                </optgroup>
            }
        </select>
    </div>
</div>
