@model TMDemo.Models.Availability
@{
    ViewData["Title"] = "Add Availability";
}

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
<div class="form-container">
    <div class="form-wrapper" style="height:auto;">
        <h3 style="text-align:center;">Add Availability</h3>
        <form asp-action="AddAvailability" method="post" style="margin-left:50px;">
            <input type="hidden" asp-for="Month" />
            <div class="form-group">
                <label for="TrekId">Trek</label>
                <select asp-for="TrekId" class="form-control" asp-items="@(new SelectList(ViewBag.Treks, "TrekId", "Name"))">
                    <option value="">Select a Trek</option>
                </select>
                <span asp-validation-for="TrekId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label for="StartDate">Start Date</label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="fw-bold" for="MaxGroupSize">Max Group Size</label>
                <input asp-for="MaxGroupSize" class="form-control" type="number" min="1" />
                <span asp-validation-for="MaxGroupSize" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary " style="margin-left:150px; margin-top:10px;">Save</button>
        </form>

    </div>
</div>
