@model IEnumerable<UserViewModel>
@{
    var trekName = ViewBag.TrekName as string;
    var startDate = ViewBag.StartDate as string;
}

<h2 style="font-family:'Times New Roman', Times, serif; padding:10px; font:10px; color:brown; padding:20px;text-align:center;">Users for Trek:  (Start Date: @startDate)</h2>
<div class="availability-container m-3">
    @foreach (var user in Model)
    {
        <div class="card mb-3 bg-light">
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-3">
                        <strong>User:</strong><br />
                        @user.UserName
                    </div>
                    <div class="col-md-3">
                        <strong>Email:</strong><br />
                        @user.Email
                    </div>
                    <div class="col-md-3">
                        <strong>Number of People:</strong><br /> 
                        @user.NumberOfPeople
                    </div>
                    <div class="col-md-3 pl-2">
                        <strong>Booking Date:</strong><br/>
                        @user.BookingDate.ToString("yyyy-MM-dd")
                    </div>
                </div>
                
            </div>
        </div>
    }
</div>
<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 15px;
    }

    .card-body .row {
        align-items: center; 
    }

    .card-body .col-md-4 {
        padding: 10px; 
        border-right: 1px solid #eee; 
    }

        .card-body .col-md-4:last-child {
            border-right: none; 
        }

    
</style>
