@model IEnumerable<Booking>

<h2>My Bookings</h2>

@if (!Model.Any())
{
    <p>You don't have any bookings yet.</p>
}
else
{
    <div class="row">
        @foreach (var booking in Model)
        {
            <div class="col-md-4">
                @await Html.PartialAsync("_BookingCard", booking)
            </div>
        }
    </div>
}
