@model IEnumerable<Booking>

<h2>My Bookings</h2>
<div class="container">
    @if (!Model.Any())
    {
        <p style="background-color:lightgray;padding:20px;margin:20px;">You don't have any bookings yet.</p>
    }
    else
    {
        <div class="row">
            @foreach (var booking in Model)
            {
                @await Html.PartialAsync("_BookingCard", booking)

            }
        </div>
    }
</div>

