@{
    ViewData["Title"] = "Forgot Password";
    ViewData["BodyClass"] = "forgot-password-page";
}
<div class="form-container">
    <div class="form-wrapper">
        <h2>Registered Trekker</h2>
        <form action="ForgotPassword" method="post">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" name="Email" placeholder="Enter your email" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
