@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
   
}
<div class="form-container">
    <div class="form-wrapper" style="height:350px;">
        <h2>Registered Trekker</h2>
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" name="Email" placeholder="Enter your email" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
