@model LoginViewModel

@{
	ViewData["Title"] = "Login";
	
}
@section Scripts {
	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}

<div class="form-container">
	<div class="form-wrapper" style="height:auto;">
		<h2>Login</h2>
		<form asp-action="Login" method="post">
			<div class="form-group">
				<label for="Email">Email</label>
				<input type="text" id="Email" name="Email" placeholder="Email" required asp-for="Email"><br/>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="Password">Password</label>
				<input type="password" id="Password" name="Password" placeholder="Password" required asp-for="Password"><br/>
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
			{
				<div style="color:darkred; font-weight:bold;">
					@ViewData["ErrorMessage"]
				</div>
			}
			<button type="submit">Login</button>
			<p class="login-link">
				<a asp-controller="Account" asp-action="ForgotPassword">ForgotPassword</a>
			</p>
			@if (!string.IsNullOrEmpty(ViewData["Message"]?.ToString()))
			{
				<div style="color:darkblue;">
					@ViewData["Message"]
				</div>
			}
		</form>
	</div>
</div>

