@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}

<div class="form-container">
    <div class="form-wrapper" style="height:auto; margin-top:10px;">
        <h2>Create New Account</h2>
        <form asp-controller="Account" asp-action="Register" method="post">
            <div class="form-row">
                
                <div class="form-group" style="flex: 1;">
                    <label asp-for="FirstName">First Name *</label>
                    <input type="text" id="FirstName" name="FirstName" placeholder="First Name" asp-for="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
               
                <div class="form-group" style="flex: 1;">
                    <label asp-for="LastName">Last Name *</label>
                    <input type="text" id="LastName" name="LastName" placeholder="Last Name" asp-for="LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                
                <div class="form-group" style="flex: 1;">
                    <label asp-for="Email">Email *</label>
                    <input type="text" id="Email" name="Email" placeholder="Email" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
               
                <div class="form-group" style="flex: 1;">
                    <label asp-for="PhoneNumber">Mobile Number *</label>
                    <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Mobile Number" asp-for="PhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
               
                <div class="form-group" style="flex: 1;">
                    <label asp-for="DOB">DOB *</label>
                    <input type="date" id="DOB" name="DOB" asp-for="DOB">
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
                <div class="form-group" style="flex: 1;">
                    <label asp-for="Gender">Gender *</label>
                    <select id="Gender" name="Gender" asp-for="Gender">
                        <option value="" disabled selected>Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group" style="flex: 1;">
                    <label asp-for="Country">Country *</label>
                    <input type="text" id="Country" name="Country" placeholder="Country" asp-for="Country">
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group" style="flex: 1;">
                    <label asp-for="State">State *</label>
                    <input type="text" id="State" name="State" placeholder="State" asp-for="State">
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group" style="flex: 1;">
                    <label asp-for="City">City *</label>
                    <input type="text" id="City" name="City" placeholder="City" asp-for="City">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" style="flex: 1;">
                    <label asp-for="Password">Password *</label>
                    <input type="password" id="Password" name="Password" placeholder="Password" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group" style="flex: 1;">
                    <label asp-for="ConfirmPassword">ConfirmPassword *</label>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="ConfirmPassword" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
            {
                <div style="color:darkred; font-weight:bold;">
                    @ViewData["ErrorMessage"]
                </div>
            }
            <button type="submit">Register</button>
            <p class="login-link">
                Already have an Account? <a asp-controller="Account" asp-action="Login"><strong>Login</strong></a>
            </p>
        </form>
    </div>
</div>
