@model ResetPasswordViewModel
@section Scripts {
	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
<div class="form-container">
	<div class="form-wrapper " style="height:auto;">
		<h2>Reset Password</h2>
		<form asp-action="ResetPassword" method="post">
			<input type="hidden" asp-for="Email" />
			<input type="hidden" asp-for="Otp" />
			<div class="form-group">
				<label for="NewPassword">NewPassword*</label>
				<input type="password" id="NewPassword" name="NewPassword" placeholder="NewPassword" required asp-for="NewPassword"><br />
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label for="ConfirmPassword">ConfirmPassword*</label>
				<input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="ConfirmPassword" required asp-for="ConfirmPassword"><br />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit">Reset</button>
		</form>
	</div>
</div>
