@model IEnumerable<TMDemo.Models.GroupedTreksByCategory>

<div class="container">
    
    <h2 style="font-family:'Times New Roman', Times, serif; padding:10px; font:10px; color:black; padding:20px;text-align:center;">Treks Categorized by Duration Days</h2>

    @if (Model.Any())
    {
        foreach (var group in Model)
        {
            <div class="duration-group">
                <h3 class="duration-title">@group.Category</h3>

                <div class="row">
                    @foreach (var trek in group.Treks)
                    {
                        @await Html.PartialAsync("_TrekCard", trek)
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>No treks available for any Duration Days.</p>
    }
</div>
<style>
    .duration-group {
        margin-bottom: 40px;
    }

    .duration-title {
        font-size: 1.5rem;
        color: #28a745;
        margin-bottom: 20px;
    }
</style>