@model IEnumerable<TMDemo.Models.GroupedTreksByCategory>

<div class="container">
    <h2 style="font-family:'Times New Roman', Times, serif; padding:10px; font:10px; color:black; padding:20px;text-align:center;">Treks by Month</h2>

    @if (Model.Any())
    {
        foreach (var group in Model)
        {
            <div class="month-group">
                <h3>@group.Category</h3>
                <div class="row">
                    @foreach (var trek in group.Treks)
                    {
                        @Html.Partial("_TrekCard", trek) 
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>No treks available.</p>
    }
</div>
