@{
    ViewData["Title"] = "Cancel/Reschedule Trek";
}

<div class="trek-cancellation-policy">
    <div class="relative custom-serif">
        <img src="~/images/cancel.webp" />
        <div class="absolute inset-0 flex items-center justify-center text-center text-white ">
            <a asp-action="Cancellation" asp-controller="Home" class="mt-4 px-6 py-2 bg-gray-800 bg-opacity-50 rounded-full text-white">
                Cancel/Reschedule Trek
            </a>
        </div>
    </div>
    <div class="policy-container">
        <h1 class="fw-bold">Cancellation Policy</h1>
        <p class="custom-serif ml-9">
            We understand the pain when you have to call off a trek or a trek gets cancelled. As trekkers, we always
            look forward to treks, and after months of training and planning, if you have to cancel your trek or a trek
            gets called off, there's no greater disappointment than that. That is why we have a trekker-friendly cancellation policy.
        </p>

        <table class="policy-table">
            <thead>
                <tr>
                    <th colspan="2" class="table-header fw-bolder">Trek Masters Standard Cancellation Policy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="fw-bold bg-light">No. of Days Before Trek Date</td>
                    <td class="fw-bold bg-light">Cancellation Charges</td>
                </tr>
                <tr>
                    <td>In 20 to 30 Days</td>
                    <td>10% cut off</td>
                </tr>
                <tr>
                    <td>In 10 to 20 Days</td>
                    <td>20% cut off</td>
                </tr>
                <tr>
                    <td>In 10 Days Before Trek</td>
                    <td>No Refund</td>
                </tr>
                <tr>
                    <th colspan="2" class="table-header fw-bolder">Reschedule Policy</th>
                </tr>
                <tr>
                    <td class="fw-bold bg-light">No. of Days Before Trek Date</td>
                    <td class="fw-bold bg-light">Reschedule Charges</td>
                </tr>
                <tr>
                    <td>Before 25 Days</td>
                    <td>No Extra Charges</td>
                </tr>
                <tr>
                    <td>In 25 Days Before Trek</td>
                    <td>5% Extra Charges</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<link href="~/css/cancellation.css" rel="stylesheet" />