<div class="relative custom-serif">
    <img src="~/images/HomeImg.jpg" class="bg-opacity-10" />
    <div class="absolute inset-0 flex items-center justify-center text-center text-white ">
        <h1 class=" text-5xl text-white font-bold">
            Your Journey Begins
        </h1>
        <p class="text-lg">
            Your adventure starts now
        </p>
        <a asp-action="UpcomingTreks" asp-controller="Trek" class="mt-4 px-6 py-2 bg-gray-800 bg-opacity-50 rounded-full text-white">
            Upcoming Treks
        </a>
    </div>
</div>

<div class="bg-white py-8">
    <h2 class="text-center text-3xl font-bold mb-4 mt-4 ">
        Discover the New Journey
    </h2>
    <div class="DivClass max-w-4xl mx-auto flex flex-col md:flex-row items-center">
        <!-- Left Image -->
        <div class="w-full md:w-1/2 image-container mb-0">
            <img alt="Person with a backpack looking at the mountains" src="~/images/home2.png" />
        </div>

        <!-- Right Text -->
        <div class="w-full md:w-1/2 info">
            <p>
                As you lace up your boots and step into the great outdoors, remember that each trek is not just a physical journey, but an invitation to discover new horizons within yourself. Trekking allows you to escape the everyday hustle, breathe in fresh air, and immerse yourself in the beauty of nature.
            </p>
            <p class="mt-4">
                Every path you choose holds stories waiting to unfold—majestic mountains, serene lakes, and forests beckon you to explore. Experience the thrill of discovery, the moments of reflection, and the camaraderie with fellow adventurers. Each step is a chance to witness nature in its purest form, to challenge yourself, and to grow.
            </p>
            <p class="mt-4">
                The breathtaking views can be transformative. Each step is a new chapter in your story, filled with growth, adventure, and the thrill of exploration.
            </p>
        </div>
    </div>
</div>
<link href="~/css/home.css" rel="stylesheet" />