@model AddUsersViewModel

@{
    ViewData["Title"] = "Add Trek Mate";
     
}
<link href="~/css/adduserbooking.css" rel="stylesheet" />
<div class="form-container">
	<div class="form-wrapper ">
        <h2>Add TrekMates</h2>
        <form asp-action="AddUsers" method="post">
            <input type="hidden" asp-for="TrekId" />
            <input type="hidden" asp-for="TrekName" />
            <input type="hidden" asp-for="StartDate" />
			<div class="form-group">
                <div id="user-list">
                    @for (int i = 0; i < Model.Emails.Count; i++)
                    {
                        <div class="email-field">
                            <input asp-for="@Model.Emails[i]" class="form-control" placeholder="Email Id" />
                        </div>
                    }
                </div>
			</div>
			<div class="form-group">
                <label for="Emails">Email:</label>
                <input type="text" id="Emails" name="email" class="form-control" />
                <button type="submit" name="action" value="AddMember" class="btn btn-secondary">+ Member to join Trek</button>
			</div>
            <button type="submit" name="action" value="Book" class="btn btn-primary">Proceed With the Registration</button>
			
			
		</form>
	</div>
</div>


