@model AddUsersViewModel

@{
    ViewData["Title"] = "Add Trek Mate";
     
}
<link href="~/css/adduserbooking.css" rel="stylesheet" />
<div class="form-container" style="height:auto;">
	<div class="form-wrapper d-flex flex-column justify-content-center" style="height:auto;">
        <h2>Add TrekMates</h2>
        <form asp-action="AddUsers" method="post" style=" justify-content:center; align-content:center;">
            <input type="hidden" asp-for="TrekId" />
            <input type="hidden" asp-for="TrekName" />
            <input type="hidden" asp-for="StartDate" />
			<div class="form-group">
                <div id="user-list">
                    @for (int i = 0; i < Model.Emails.Count; i++)
                    {
                        <div class="email-field">
                            <input asp-for="@Model.Emails[i]" class="form-control email-input" placeholder="Email Id" style="color:white;"/>
                            <button type="submit" name="action" value="RemoveMember-@i" class="btn btn-danger btn-sm remove-btn info">-</button>
                            <span asp-validation-for="@Model.Emails[i]" class="text-danger"></span>
                        </div>

                        

                    }
                </div>
			</div>
			<div class="form-group">
                <label for="Emails">Email:</label>
                <input type="text" id="Emails" name="email" class="form-control" />
                <button type="submit" name="action" value="AddMember" class="btn btn-secondary">+ Member to join Trek</button>
			</div>
            <button type="submit" name="action" value="Book" class="btn btn-primary">Proceed With the Registration</button>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }

		</form>
	</div>
</div>



<style>
    .email-field {
        display: flex; 
        align-items: center; 
        width: 100%; 
        gap: 0; 
        margin-bottom: 1rem; 
    }

    .email-input {
        width:90%;
        margin-right:5px;
        flex: 1; 
        padding: 0.5rem; 
        border: 1px solid #6B3738; 
        border-radius: 5px; 
        background-color: #6B3738; 
        color: white; 
        font-size: 1rem; 
    }

        .email-input:focus {
            border-color: #6B3738; 
            outline: none; 
        }

    .info {
        width: 5%; 
        height: 100%; 
        padding: 0; 
        font-size: 1.2rem; 
        background-color: #dc3545; 
        color: white; 
        border-radius: 5px; 
        cursor: pointer; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        border: none; 
    }

</style>
