@{
	Layout = null;
}
<div style="justify-content:center; align-items:center ;width:400px;height:400px; padding:10px;margin:100px">
	<img src="~/images/Success.png" />
	<h4>Your Booking is successful</h4>
</div>