.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/images/SignInBg.jpg');
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
}




/* Wrapper for the form content */
.form-wrapper {
    background-color: rgba(255, 255, 255, 0.7); /* Slight transparency */
    padding: 30px;
    margin-top: 80px;
    border-radius: 10px;
    width: 800px;
    height:90%;
    padding-top: 80px; /* Space below the navbar */
    padding-bottom: 50px; /* Space above the footer */

}

    /* Heading */
    .form-wrapper h2 {
        
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
    }

/* Form fields styling */
.form-row {
    display: flex;
    gap: 15px; /* Adds spacing between fields */
    flex-wrap: wrap; /* Ensure responsiveness */

}

.form-group {
    margin-bottom: 5px;
}
    .form-group label {
        display: block;
        font-size: 14px;
        color: #555;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group select {
        width: 90%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        color: #333;
    }

        .form-group input:focus,
        .form-group select:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
        }

/* Button styling */
button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #1A3A6E;
    margin-top: 15px;
    margin-left: 140px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }


/* Login link */
.login-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

    .login-link a {
        color: #1A3A6E;
        text-decoration: none;
        align-content:center;
    }

        .login-link a:hover {
            text-decoration: underline;
        }











   





        