@model IEnumerable<Trek>

<div class="container">
    <h2 style="font-family:'Times New Roman', Times, serif; padding:10px; font:10px; color:black; padding:20px;text-align:center;">All Treks</h2>
    <div class="row">
        @foreach (var trek in Model)
        {
            @await Html.PartialAsync("_TrekCard", trek)
        }
    </div>
</div>
