@model IEnumerable<Trek>

<div class="container">
    <div class="row" style="margin-top:20px;">
        @if (Model == null || !Model.Any())
        {
            <p style="font-size:40px;font-weight:bold;color:darkred;"><strong>No treks available for your search. Loading all treks...</strong></p>
            var allTreks = ViewContext.HttpContext.RequestServices
            .GetService(typeof(TrekMasters.Data.AppDbContext)) as TrekMasters.Data.AppDbContext;
            var allTrekList = allTreks.Treks.ToList();

            foreach (var trek in allTrekList)
            {
                @await Html.PartialAsync("_TrekCard", trek)
            }
        }
        else
        {
            foreach (var trek in Model)
            {
                @await Html.PartialAsync("_TrekCard", trek)
            }                         
        }
    </div>
</div>
