@model IEnumerable<Trek>

<div class="container">
    <h2 style="font-family:'Times New Roman', Times, serif; padding:10px; font:10px; color:black; padding:20px;text-align:center;">Upcoming Treks</h2>

    @if (Model.Any())
    {
        <div class="row">
            @foreach (var trek in Model)
            {
                @await Html.PartialAsync("_UpTrekcard",trek)
            }
        </div>
    }
    else
    {
        <p>No upcoming treks available in the next three months.</p>
    }
</div>

